.message {
  position: relative;
}

/* .copy-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  transition: all 0.3s;
  margin: 5px;
} */
.actions {
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  transition: all 0.3s;
  margin: 5px;
}

.copy-icon:hover {
  color: var(--primary-color);
}

.message:hover .actions {
  visibility: visible;
  display: inline !important;
}
